@media (max-width: 768px) {
  footer {
    visibility: hidden !important;
    display: none !important;
  }

  header {
    visibility: hidden;
    display: none;
  }

  .background.img {
    background-image: url("static/images/bg.png") !important;
  }
}

footer a {
  color: white;
}

footer a::hover {
  color: lightgray;
}

footer .image {
  content: url("static/images/ds-light.png");
}

footer .imageDark {
  content: url("static/images/ds-dark.png");
}

.grid > .column {
  padding: 0 2.4rem 2.4rem 2.4rem;
}

img.logo {
  fill: white;
  -webkit-filter: brightness(0) invert(1); /* Safari/Chrome */
  filter: brightness(0) invert(1);
}
